XMLSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:complexType name="DobaviteljType">
		<xs:sequence>
			<xs:element name="id" type="DobaviteljIdType"/>
			<xs:element name="naziv">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="naslov">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="davcnaSt" type="DavcnaStType"/>
			<xs:element name="kontakt" type="KontaktType"/>
			<xs:element name="opis" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ArtikelType">
		<xs:sequence>
			<xs:element name="id" type="ArtikelIdType"/>
			<xs:element name="naziv">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cena" type="CenaType"/>
			<xs:element name="zaloga" type="ZalogaType"/>
			<xs:element name="dobaviteljId" type="DobaviteljIdType"/>
			<xs:element name="datumZadnjeNabave">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AddressType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="country" type="xs:string" use="required"/>
				<xs:attribute name="postalCode" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="\d{4,5}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="ExtendedArtikelType">
		<xs:complexContent>
			<xs:extension base="ArtikelType">
				<xs:sequence>
					<xs:element name="kategorija" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="[A-Za-z ]{3,30}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="DobaviteljIdType">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999999"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ArtikelIdType">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="9999999"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DavcnaStType">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="10000"/>
			<xs:maxInclusive value="999999"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CenaType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ZalogaType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxInclusive value="1000000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="KontaktType">
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="100"/>
			<xs:pattern value="[^@]+@[^\.]+\..+"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="ArrayOfDobavitelj">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Dobavitelj" type="DobaviteljType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ArrayOfArtikel">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Artikel" type="ExtendedArtikelType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
